.sidebar {
  align-self: start;
}

@media (min-width: 769px) {
  .sidebar {
    position: sticky;
    top: 20vh;
  }
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mantine-primary-color-filled);
  border-radius: 50%;
  border: solid 2px var(--mantine-color-dark-0);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: grayscale(100%);
}
