.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(2, 1, 19, 0.7);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  max-width: 400px;
  width: 100%;
}
